@page
@model IndexModel
@{
    ViewData["Title"] = "Products";
}
<h1>
    Products
</h1>
<p><a asp-page="Create">Create New</a></p>
<table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @forech (var P in Model.Products)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@p.Id">Edit</a>
                    <a asp-page="Delete" asp-route-id="@p.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>